<div class="signFrame">
	<div class="content">
		<p class="title">用户登录</p>
		<div class="close"></div>

		<div class="main signIn">
			<input name="username" type="text" placeholder="手机号">
			<input name="password" type="password" placeholder="密码（6-16位数字与字母组合）">
			<div class="clear rememberBar">
				<p class="rememberUser left">记住账户</p>
				<a class="right recoverPasswordLink" href="javascript:">忘记密码？</a>
			</div>
			<div class="btn"><span>登录</span></div>
			<p class="orAccount">没有账户？<a class="signUpLink" href="javascript:">快速注册</a></p>
		</div>

		<div class="main signUp">
			<input name="username" type="text" placeholder="手机号">
			<input name="email" type="text" placeholder="邮箱">
			<input name="password" type="password" placeholder="密码（6-16位数字与字母组合）">
			<input name="passwordSure" type="password" placeholder="确认密码">
			<p class="agreement">我以阅读并接受<a href="javascript:">《服务协议》</a></p>
			<div class="btn"><span>注册</span></div>
			<p class="orAccount">已有账户？<a class="signInLink" href="javascript:">立即登录</a></p>
		</div>

		<div class="main recoverPassword">
			<div class="one">
				<input type="text" placeholder="手机号">
				<input type="text" placeholder="邮箱">
				<div class="btn center"><span>下一步</span></div>
			</div>
			<div class="tow">
				<input type="password" placeholder="设置新密码">
				<input type="password" placeholder="确认新密码">
				<div class="btn center"><span>下一步</span></div>
			</div>
			<div class="three">
				<p>新密码设置成功，请妥善保管你的账户密码！</p>
				<div class="btn center"><span>完成</span></div>
			</div>
		</div>
	</div>
</div>