@charset "utf-8";
.bigSearch{width:900px;margin:0 auto;padding:10px 0;
  input{padding:0 20px;width:730px;height:88px;line-height:88px;background-color: #eeeeee;color:#666;border:1px solid #ddd;border-radius:5px 0 0 5px;font-size: 20px;}
  .btn{width:90px;height:90px;background:#fff url(../img/searchBtn.png) no-repeat center center;border-radius:0 5px 5px 0;cursor:pointer;background-size:44px;}
}


