.backtopBar {
  position: fixed;
  right: 20px;
  bottom: 100px;
  width: 30px; }
  .backtopBar .weixin, .backtopBar .backtop {
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: background-position 0.1s;
    -moz-transition: background-position 0.1s;
    -o-transition: background-position 0.1s;
    -ms-transition: background-position 0.1s;
    transition: background-position 0.1s; }
  .backtopBar .weixin {
    background: url(../img/wxHoverBg.jpg) no-repeat 0 0; }
  .backtopBar .backtop {
    margin-top: 10px;
    background: url(../img/backtopBg.jpg) no-repeat 0 0; }
  .backtopBar img {
    width: 120px;
    height: 120px;
    position: absolute;
    left: -136px;
    top: -50px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    display: none; }
  .backtopBar .weixin:hover, .backtopBar .backtop:hover {
    background-position: -30px 0; }
