.itemS {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden; }
  .itemS .item {
    padding: 20px 40px;
    margin: 0 10px 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 300px;
    cursor: pointer;
    display: block; }
    .itemS .item .img {
      width: 300px;
      height: 300px;
      padding-bottom: 10px;
      margin: 0 auto; }
      .itemS .item .img img {
        width: 300px;
        height: 300px; }
    .itemS .item .info {
      padding: 0 10px; }
      .itemS .item .info p {
        line-height: 36px; }
      .itemS .item .info .title {
        font-size: 18px;
        color: #333; }
      .itemS .item .info .author {
        font-size: 14px;
        color: #666; }
        .itemS .item .info .author span {
          vertical-align: top;
          display: inline-block;
          padding-right: 30px; }
      .itemS .item .info .text {
        font-size: 14px;
        color: #333;
        height: 72px;
        overflow: hidden;
        text-indent: 2em; }
      .itemS .item .info .statistics p {
        font-size: 12px;
        color: #666;
        padding-right: 10px; }
        .itemS .item .info .statistics p span {
          vertical-align: middle;
          display: inline-block;
          margin-right: 12px;
          width: 16px;
          height: 16px;
          background-color: #ccc; }
      .itemS .item .info .star span {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        background: url(../img/star.png) no-repeat 0 center; }
      .itemS .item .info .star .on {
        background-position: -24px center; }
  .itemS .item:hover {
    background-color: #f8f8f8; }
