.itemH {
  width: 1200px;
  margin: 0 auto; }
  .itemH .item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: block; }
    .itemH .item .img {
      width: 180px;
      height: 180px;
      padding-right: 40px; }
      .itemH .item .img img {
        width: 180px;
        height: 180px; }
    .itemH .item .info {
      width: 960px; }
      .itemH .item .info p {
        line-height: 36px; }
      .itemH .item .info .title {
        font-size: 18px;
        color: #333; }
      .itemH .item .info .author {
        font-size: 14px;
        color: #666; }
        .itemH .item .info .author span {
          vertical-align: top;
          display: inline-block;
          padding-right: 30px; }
      .itemH .item .info .text {
        font-size: 14px;
        color: #333;
        height: 72px;
        overflow: hidden;
        text-indent: 2em; }
      .itemH .item .info .statistics p {
        font-size: 14px;
        color: #666;
        padding-right: 80px; }
        .itemH .item .info .statistics p span {
          vertical-align: middle;
          display: inline-block;
          margin-right: 12px;
          width: 16px;
          height: 16px;
          background-color: #ccc; }
  .itemH .item:hover {
    background-color: #f8f8f8; }
